body{
    background-color: rgb(235, 235, 235);
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.header{
    /* border: 2px solid red; */
    flex-grow: 1;
    padding-left: 330px;
    /* padding-top: 200px; */
}

.container{
    /* border: 2px solid red; */
    flex-grow: 2;
    display: flex;
}


.container-form{
    /* border: 2px solid red; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 200px;
    
}

.container-task-name{
    /* border: 2px solid red; */
    flex-grow: 1;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 20px;
}

#company{
    width: 11.5rem;
}

#priority{
    width: 11.5rem;
}

.button-add{
    width: 11.5rem;
    background-color: rgb(41, 93, 225);
}


.task-name{
    /* border: 2px solid red; */
    display: flex;
    width: 400px;
    height: 150px;
    background-color: white;
    display: flex;
}

.footer{
    /* border: 2px solid red; */
    flex-grow: 1;
}

img{
    height: 50px;
    width: 50px;
    /* flex-grow: 1; */
    /* border: 2px solid black; */
    padding-left: 10px;
    padding-top: 10px;
}

.task-info{
    /* border: 2px solid black; */
    /* flex-grow: 1; */
    padding-left: 55px;
}

.w3-btn-priority{
    background-color: rgb(225, 119, 227);
}

.w3-btn{
    background-color: rgb(239, 239, 239);
    width: 100px;
    color: blue;
}

label{
    color: blue;
}